:root,
html[data-theme="light"] {
	--dark-block: none;
	--light-block: block;
	--dark-inline: none;
	--light-inline: inline;
	--primot: primot, sans-serif;
	--nunito: "Nunito Sans", sans-serif;
	--inter: Inter, Helvetica, sans-serif;
	--ice-cream: ice-cream-standard, sans-serif;
	--crimson: #aa0f2b;
	--purple-1: #84468d;
	--purple-2: #4d0044;
	--turquoise: #8dcac1;
	--hot-pink: #ff0066;
	--nav-hover: black;
	--github-fill: #8fd4eb;
	--github-color: #c2ebf9;
	--scroll-fill: #f367a1;
	--scroll-fill: #ce1537;
	--navbar-color: #fe2a51;
	--home-color: var(--crimson);
	--nav-link-color: var(--crimson);
	--scroll-color: var(--navbar-color);
	--scroll-focus: rgb(86, 13, 43);
	--github-focus: var(--hot-pink);
	--body-background: #ffe6eb;
	--headline-1: #ff1d47;
	--headline-2: #ff4d6d;
	--headline-3: #ff758f;
	--headline-4: #ff8fa3;
	--headline-5: #ffb3c1;
	--headline-6: #ffccd5;
	--headline-7: #fff3f5;
	--text-color: #b7324a;
	--icon-fill: #84468d;
	--footer-text: #542e5a;
	--selection-color: pink;
	--modal-selection: rgb(255, 219, 225);
	--headline-hover: #9f283e;
	--footer-color-1: #e3a8dd;
	--footer-color-2: #e4bee0;
	--svg-hover: var(--purple-2);
	--section-header: var(--headline-1);
	--direction-focus: var(--link-focus);
	--link-focus: 2px solid var(--purple-2);
	--modal-header: var(--headline-1);
	--modal-close-bg: #fd6d8e;
	--modal-shadow: #fd6d8e 0 10px 10px -10px;
	--modal-close-text: white;
	--modal-close-hover: white;
	--modal-close-bg-hover: #ff3e61;
	--modal-close-border: 2px solid rgb(49, 0, 65);
}

/* ------------------------------------------------------------- */

html[data-theme="dark"] {
	--dark-block: block;
	--light-block: none;
	--dark-inline: inline;
	--light-inline: none;
	--nav-link-color: #8cc5be;
	--nav-hover: white;
	--github-focus: white;
	--scroll-focus: white;
	--link-focus: 2px solid var(--nav-link-color);
	--navbar-color: #282a2a;
	--body-background: #100e0f;
	--github-fill: black;
	--github-color: #394043;
	--scroll-fill: #4e5d5e;
	--headline-1: #c29e5f;
	--headline-2: #ab8b53;
	--headline-3: #957948;
	--headline-4: #7d653c;
	--headline-5: #62502f;
	--headline-6: #473a22;
	--headline-7: #2b2314;
	--footer-color-1: #1c1b1b;
	--footer-color-2: #100e0c;
	--home-color: var(--turquoise);
	--headline-hover: var(--turquoise);
	--section-header: var(--turquoise);
	--selection-color: darkslategray;
	--modal-selection: rgb(255, 223, 191);
	--direction-focus: 1px solid var(--headline-2);
	--icon-fill: var(--headline-1);
	--text-color: var(--headline-1);
	--footer-text: var(--headline-2);
	--svg-hover: #ffe3b3;
	--modal-header: #bb6b02;
	--modal-header: #cc4400;
	--modal-close-bg: #f88a53;
	--modal-shadow: #e59a38 0 10px 10px -10px;
	--modal-close-text: rgb(58, 33, 9);
	--modal-close-hover: white;
	--modal-close-bg-hover: #cc4400;
	--modal-close-border: 2px solid rgb(24, 23, 23);
}

/* ------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* transition: ease all 200ms; */
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	background-color: var(--body-background);
	font-family: var(--nunito);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------------- */
/* THEME DISPLAY SETTINGS */

[data-theme="light"] {
	display: var(--light-block);
}

[data-theme="dark"] {
	display: var(--dark-block);
}

span[data-theme="light"] {
	display: var(--light-inline);
}

span[data-theme="dark"] {
	display: var(--dark-inline);
}

/* ------------------------------------------------------------- */
/* SELECTION SETTINGS */

::selection {
	background: var(--selection-color);
}

::-moz-selection {
	background: var(--selection-color);
}

::-webkit-selection {
	background: var(--selection-color);
}

::-ms-selection {
	background: var(--selection-color);
}

.modal-content *::selection {
	background: var(--modal-selection);
}

.modal-content *::-moz-selection {
	background: var(--modal-selection);
}

.modal-content *::-webkit-selection {
	background: var(--modal-selection);
}

.modal-content *::-ms-selection {
	background: var(--modal-selection);
}

/* ------------------------------------------------------------- */
/* NAVBAR CONTENTS */

#mainNavbar {
	min-height: 5rem;
	transition: ease all 200ms;
}

#mainNavbar,
#mainNavbar .nav-link,
#mainNavbar .navbar-brand {
	font-size: 1.5rem;
}

#mainNavbar .navbar-brand {
	font-weight: 600;
	color: var(--home-color);
}

#mainNavbar .nav-link {
	color: var(--nav-link-color);
	font-weight: 300;
}

.navbar.scrolled {
	background: var(--navbar-color);
}

nav > a:focus {
	outline-offset: 8px;
	padding: auto 0.5rem;
}

.navbar-toggler:focus {
	box-shadow: none;
}

/* ------------------------------------------------------------- */
/* GITHUB CORNER */

.github-corner {
	fill: var(--github-fill);
	display: none;
}

.github-corner,
.github-corner:hover {
	color: var(--github-color);
}

.github-corner.corner-scrolled {
	fill: var(--scroll-fill);
	color: var(--scroll-color);
	transition: background 200ms;
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner.corner-scrolled:focus svg path {
	fill: var(--scroll-focus);
}

.github-corner.corner-scrolled:focus .octo-arm,
.github-corner.corner-scrolled:focus .octo-body {
	fill: var(--navbar-color);
}

.github-corner:hover .octo-arm,
.github-corner:focus .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

#github-link:focus {
	outline-offset: 0;
}

/* ------------------------------------------------------------- */
/* REPEATING HEADLINE TITLES */

#headingGroup h1 {
	font-size: 3.5rem;
	font-family: var(--primot);
	font-weight: 400;
	user-select: none;
	white-space: nowrap;
}

#headingGroup h1:nth-of-type(1) {
	color: var(--headline-1);
}
#headingGroup h1:nth-of-type(2) {
	color: var(--headline-2);
}
#headingGroup h1:nth-of-type(3) {
	color: var(--headline-3);
}
#headingGroup h1:nth-of-type(4) {
	color: var(--headline-4);
}
#headingGroup h1:nth-of-type(5) {
	color: var(--headline-5);
}
#headingGroup h1:nth-of-type(6) {
	color: var(--headline-6);
}
#headingGroup h1:nth-of-type(7) {
	color: var(--headline-7);
}

#headingGroup h1:hover {
	cursor: default;
	color: var(--headline-hover);
}

/* ------------------------------------------------------------- */
/* SECTION HEADERS AND TEXT */

.blurb h2 {
	font-size: 4rem;
	font-family: var(--primot);
}

.blurb p {
	color: var(--text-color);
	font-weight: 300;
	line-height: 1.65;
}

.blurb h2,
#direction-link:hover {
	color: var(--section-header);
}

#direction-link:focus {
	outline: var(--direction-focus);
	outline-offset: 12px;
}

.span-bold {
	font-weight: 700;
}

/* ------------------------------------------------------------- */
/* FOOTER CONTENT */

#museum-footer {
	background-color: var(--footer-color-1);
}

.footer-icon svg {
	fill: var(--icon-fill);
}

.footer-icon a:hover svg {
	fill: var(--svg-hover);
}

footer button:focus,
.footer-icon a:focus {
	outline: var(--direction-focus);
	outline-offset: 8px;
}

footer button {
	border: none;
	background: none;
	color: var(--footer-text);
	font-size: 1.1rem;
}

/* ------------------------------------------------------------- */
/* MODAL CONTENT */

.modal-header,
.modal-footer {
	border: none;
}

.modal-header p {
	font-size: 2rem;
	font-family: var(--ice-cream);
}

#modal-close,
.modal-body p {
	font-size: 17px;
}

.modal-body p {
	color: rgb(33, 33, 33);
}

.modal-body li {
	font-size: 1rem;
	line-height: 2;
}

.modal-body a,
.modal-header p {
	color: var(--modal-header);
}

.modal-body a:hover {
	color: blue;
}

.modal-body a:focus {
	outline: 2px solid var(--modal-header);
	outline-offset: 2px;
}

.my-4 {
	margin-left: 2.5%;
}

#modal-close {
	background-color: var(--modal-close-bg);
	border-radius: 50px;
	box-shadow: var(--modal-shadow);
	color: var(--modal-close-text);
	cursor: pointer;
	font-family: var(--inter);
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 0.5rem 1.25rem;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	border: 0;
}

#modal-close:hover {
	color: var(--modal-close-hover);
	background-color: var(--modal-close-bg-hover);
	text-decoration: none;
}

#modal-close:focus {
	box-shadow: none !important;
	outline: 2px solid var(--modal-header) !important;
	outline-offset: 6px;
}

/* ------------------------------------------------------------- */
/* MISCELLANEOUS SETTINGS */

a {
	color: var(--text-color);
	text-decoration: none;
}

a:focus,
button:focus,
.navbar-toggler:focus {
	outline: var(--link-focus);
	outline-offset: 2px;
	border-radius: 2px;
}

a:hover,
footer button:hover,
#mainNavbar .nav-link:hover,
#mainNavbar .navbar-brand:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}

hr {
	margin: 0 auto;
	width: 86%;
}

img {
	user-select: none;
	aspect-ratio: 1 / 1;
}

/* ------------------------------------------------------------- */
/* MEDIA QUERIES */

@media (max-width: 1325px) {
	.blurb h2,
	#headingGroup h1 {
		font-size: 2.5rem;
	}
}

@media (max-width: 767px) {
	#museum-footer {
		background-color: var(--footer-color-2);
	}

	#modal-close,
	.modal-body p {
		font-size: 15px;
	}

	.modal-body li {
		font-size: 14px;
	}

	ul {
		padding-left: 0.75rem;
	}

	html {
		scroll-padding-top: 36vh;
	}
}

@media screen and (min-width: 320px) {
	.blurb p {
		font-size: calc(16px * ((100vw - 1000px) / 880));
	}
}
@media screen and (min-width: 1000px) {
	.blurb p {
		font-size: 20px;
	}
}
